@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.dropdown .content{
    /* display: none; */
    background-color: rgb(241, 220, 220);
    position: absolute;
    min-width: 100px;
    top: 50px;
}
.content a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
/* .dropdown:hover .content{
    display: block;
}

.content:hover .content{
    display: block;
} */


